<app-seccion-comun></app-seccion-comun>
<app-seccion-banner></app-seccion-banner>
<app-seccion-acercad></app-seccion-acercad>
<app-seccion-experiencia></app-seccion-experiencia>
<app-seccion-educacion></app-seccion-educacion>
<app-seccion-hardyskill></app-seccion-hardyskill>
<app-seccion-proyectos></app-seccion-proyectos>

<footer class="footer ">
  <div class="container-fluid text-center border border-2 m-1 rounded-2">
    <p> podria poner un link al inicio/ algun eamil / copiright / y algo mas</p>
    <h3>Pie de pagina</h3>
  </div>
</footer>
