<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid border border-2 m-1 rounded-2 ">
    <a class="navbar-brand" href="#"><img class="d-inline-block align-text-middle rounded " src="./img/logoAP.png"
        height="20" alt=""><span class="navbar-text fs-6">
        #Arg Prog
      </span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link bi-facebook p-1" href=""><span class="p-1">Facebook</span></a>
        <a class="nav-link bi-linkedin p-1" href=""><span class="p-1">Linkedin</span></a>
        <a class="nav-link bi-google p-1 " href=""><span class="p-1">Google</span></a>
        <a class="nav-link bi-person p-1" href=""><span class="p-1 ">Login</span></a>

      </div>
    </div>
  </div>
</nav>


<section class="seccion banner">
  <div class="container-fluid border border-2 m-1 rounded-2 p-2">

    <div class="container-fluid p-1 d-inline-flex" style="background-color:black;">
      <div class="container-flex p-1">
        <img class=" img-fluid rounded-circle  rounded border-0 p-0" style="max-width:100px;" src="./assets/img/yo.jpg"
          alt="yo">
      </div>
      <div class="container-fluid bg-black  align-items-center justify-content-center border border-2 rounded-5 ">
        <p style="color:green;">GG:</p>
        <p style="color:green;" class="px-5" id="mensaje">hola mundo como va en este dia caluroso</p>
      </div>
    </div>

  </div>
</section>

<section class="seccion acercaD ">
  <div class="container-fluid border border-2 m-1 rounded-2 p-2">
    <h3>Acerca de:</h3>
    <p>soy un programador en formacion. me gustan los desafios e
      intento comenzar una nueva carrera. nunca es tarde para empezar de nuevo.</p>
  </div>
</section>

<section class="seccion experiencia ">

  <div class="container-fluid border border-2 m-1 rounded-2">
    <div class="row p-2">
      <h3 class="col">Experiencia:</h3> <a href="#" class="btn btn-primary col" style="max-width: 100px;">Agregar</a>
    </div>

    <ul class="list-group p-2">

      <li class="list-group-item">
        <div class="card mb-3">
          <!--style="max-width: 540px;-->
          <div class="row g-0">
            <div class="col-md-2">
              <img src="./assets/img/1366_2000.jpg" class="img-fluid rounded-start p-2" alt="logo empresa">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Google inc.</h5>
                <p class="card-text"><strong>Periodo:</strong> 2020/01/01 a 2022/01/01</p>
                <p class="card-text"><small class="text-muted"><strong>Tareas:</strong>descripcion
                    aca va lo que hice o hacia en la empresa</small></p>

              </div>

            </div>
            <div class="col-md-2 p-2">
              <a href="#" class="btn btn-primary m-1">Editar</a>
              <span></span>
              <a href="#" class="btn btn-primary m-1">borrar</a>
            </div>
          </div>
        </div>
      </li>

    </ul>


  </div>
</section>

<section class="seccion educacion ">
  <div class="container-fluid border border-2 m-1 rounded-2">
    <div class="row p-2">
      <h3 class="col">Educacion:</h3> <a href="#" class="btn btn-primary col" style="max-width: 100px;">Agregar</a>
    </div>

    <ul class="list-group p-2">

      <li class="list-group-item">
        <div class="card mb-3">
          <!--style="max-width: 540px;-->
          <div class="row g-0">
            <div class="col-md-2">
              <img src="./assets/img/UTN_logo.jpg" class="img-fluid rounded-start p-2" alt="logo empresa"
                style="max-width:100px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Python</h5>
                <p class="card-text"><strong>Periodo:</strong> 2020/01/01 a 2022/01/01</p>
                <p class="card-text"><small class="text-muted"><strong>Certificado:</strong>descripcion
                    de lo estudiado o puede ser un link a un certificado si existe</small></p>

              </div>

            </div>
            <div class="col-md-2 p-2">
              <a href="#" class="btn btn-primary m-1">Editar</a>
              <span></span>
              <a href="#" class="btn btn-primary m-1">borrar</a>
            </div>
          </div>
        </div>
      </li>

    </ul>



    <!--
          <div class="row p-2">
              <h3 class="col">Educacion:</h3> <a href="#" class="btn btn-primary col"
                  style="max-width: 100px;">Agregar</a>
          </div>
          <p>items: | logo institucion | titulo | fecha | certificado |</p>
          <p>secundario completo, algunos cursos, y muchas horas de videos en youtube</p>
          -->
  </div>
</section>

<section class="seccion hard&skill ">
  <div class="container-fluid border border-2 m-1 rounded-2">
    <div class="row p-2">
      <h3 class="col">Hard and soft skill:</h3> <a href="#" class="btn btn-primary col"
        style="max-width: 100px;">Agregar</a>
    </div>
    <p>ni idea lo que va aca </p>
    <p> uuuf por donde comenzar. se hacer un poco de todo pero no mucho de alguna cosa.</p>
  </div>
</section>

<section class="seccion proyectos ">
  <div class="container-fluid border border-2 m-1 rounded-2">
    <div class="row p-2">
      <h3 class="col">Proyectos:</h3> <a href="#" class="btn btn-primary col" style="max-width: 100px;">Agregar</a>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/logoAP.png" class="card-img-top p-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Porfolioweb</h5>
            <p class="card-text">Este es mi primer proyecto realizado en el curso de Argentina Programa.
            </p>
            <p><a href="#" class="">Porfolio web</a></p>
            <a href="#" class="btn btn-primary m-1">Editar</a>
            <a href="#" class="btn btn-primary m-1">Borrar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" hidden>
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/logoAP.png" class="card-img-top p-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Porfolioweb</h5>
            <p class="card-text">Este es mi primer proyecto realizado en el curso de Argentina Programa.
            </p>
            <p><a href="#" class="">Porfolio web</a></p>
            <a href="#" class="btn btn-primary m-1">Editar</a>
            <a href="#" class="btn btn-primary m-1">Borrar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" hidden>
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/logoAP.png" class="card-img-top p-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Porfolioweb</h5>
            <p class="card-text">Este es mi primer proyecto realizado en el curso de Argentina Programa.
            </p>
            <p><a href="#" class="">Porfolio web</a></p>
            <a href="#" class="btn btn-primary m-1">Editar</a>
            <a href="#" class="btn btn-primary m-1">Borrar</a>
          </div>
        </div>
      </div>
    </div>
    <!--
          <p>items: |link al trabajo realizado | descripcion de lo hecho | herramientas utilizadas | y no se que mas
          </p>

          <p> ser desarrolador web full stack, cientifico de
              datos, guitarrero, cantor, y tratar de conquistar el mundo.</p>-->
  </div>
</section>

<footer class="footer ">
  <div class="container-fluid text-center border border-2 m-1 rounded-2">
    <p> podria poner un link al inicio/ algun eamil / copiright / y algo mas</p>
    <h3>Pie de pagina</h3>
  </div>
</footer>