<section class="seccion proyectos ">
    <div class="container-fluid border border-2 m-1 rounded-2">
        <div class="row p-2">
            <h3 class="col">Proyectos:</h3> <a href="#" class="btn btn-primary col"
                style="max-width: 100px;">Agregar</a>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src=".\assets\seccion-proyectos\img\logoAP.png" class="card-img-top p-5" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Porfolioweb</h5>
                        <p class="card-text">Este es mi primer proyecto realizado en el curso de Argentina Programa.
                        </p>
                        <p><a href="#" class="">Porfolio web</a></p>
                        <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-primary">Borrar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4" hidden>
                <div class="card" style="width: 18rem;">
                    <img src=".\assets\seccion-proyectos\img\logoAP.png" class="card-img-top p-5" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Porfolioweb</h5>
                        <p class="card-text">Este es mi primer proyecto realizado en el curso de Argentina Programa.
                        </p>
                        <p><a href="#" class="">Porfolio web</a></p>
                        <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-primary">Borrar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4" hidden>
                <div class="card" style="width: 18rem;">
                    <img src=".\assets\seccion-proyectos\img\logoAP.png" class="card-img-top p-5" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Porfolioweb</h5>
                        <p class="card-text">Este es mi primer proyecto realizado en el curso de Argentina Programa.
                        </p>
                        <p><a href="#" class="">Porfolio web</a></p>
                        <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-primary">Borrar</a>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <p>items: |link al trabajo realizado | descripcion de lo hecho | herramientas utilizadas | y no se que mas
        </p>

        <p> ser desarrolador web full stack, cientifico de
            datos, guitarrero, cantor, y tratar de conquistar el mundo.</p>-->
    </div>
</section>