<section class="seccion educacion ">
    <div class="container-fluid border border-2 m-1 rounded-2">
        <div class="row p-2">
            <h3 class="col">Educacion:</h3> <a href="#" class="btn btn-primary col"
                style="max-width: 100px;">Agregar</a>
        </div>

        <ul class="list-group p-2">

            <li class="list-group-item">
                <div class="card mb-3">
                    <!--style="max-width: 540px;-->
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src=".\assets\seccion-educacion\img\UTN_logo.jpg" class="img-fluid rounded-start p-2" alt="logo empresa"
                                style="max-width:100px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Python</h5>
                                <p class="card-text"><strong>Periodo:</strong> 2020/01/01 a 2022/01/01</p>
                                <p class="card-text"><small
                                        class="text-muted"><strong>Certificado:</strong>descripcion
                                        de lo estudiado o puede ser un link a un certificado si existe</small></p>

                            </div>

                        </div>
                        <div class="col-md-2 p-2">
                            <a href="#" class="btn btn-primary ">Editar</a>
                            <span></span>
                            <a href="#" class="btn btn-primary">borrar</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>



        <!--
        <div class="row p-2">
            <h3 class="col">Educacion:</h3> <a href="#" class="btn btn-primary col"
                style="max-width: 100px;">Agregar</a>
        </div>
        <p>items: | logo institucion | titulo | fecha | certificado |</p>
        <p>secundario completo, algunos cursos, y muchas horas de videos en youtube</p>
        -->
    </div>
</section>
